main {
	display: flex;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN PAGE 

*/
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f3f4;
}

#categories {
	margin-top: -375px;
	margin-bottom: 20px;
	font-size: 50px;
	color: #f2f3f4;
	position: absolute;
}







